<ion-header>
  <ion-toolbar>
    <ion-title>clientes-atualizar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formGroup">
  <!---->
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
     <!-- formControlName="nome" = vinculei com o ts-->
    </ion-item>

    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input type="text" formControlName="cpf"></ion-input>
     <!-- formControlName="cpf" = vinculei com o ts-->
    </ion-item>

    <ion-item>
      <ion-label position="floating">Endereço</ion-label>
      <ion-input type="text" formControlName="endereco"></ion-input>
     <!-- formControlName="endereco" = vinculei com o ts-->
    </ion-item>

    
    
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
     <!-- formControlName="nome" = vinculei com o ts-->
    </ion-item>

    <ion-item>
      <ion-label position="floating">telefone</ion-label>
      <ion-input type="text" formControlName="telefone"></ion-input>
     <!-- formControlName="nome" = vinculei com o ts-->
    </ion-item>

    <ion-item>
      <ion-label position="floating">Estado</ion-label>
      <ion-input type="text" formControlName="estado"></ion-input>
     <!-- formControlName="nome" = vinculei com o ts-->
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número</ion-label>
      <ion-input type="text" formControlName="numero"></ion-input>
     <!-- formControlName="nome" = vinculei com o ts-->
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cidade</ion-label>
      <ion-input type="text" formControlName="cidade"></ion-input>
     <!-- formControlName="nome" = vinculei com o ts-->
    </ion-item>

    <ion-button (click)="atualizar()" expand="full">Atualizar</ion-button>

  </form>

</ion-content>
