<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label style='text-align: center;'>Nome</ion-label>
    </ion-item>
    <ion-item *ngFor="let cliente of lista"><!--ng for irá repetir para todos os clientes, no caso 3 vezes pois terá 3 clientes-->
      <ion-label>{{cliente.nome}}</ion-label>
      <ion-button (click)="visualizar(cliente)">Visualizar</ion-button>
    <!-- metodo para visualizar e retornar o cliente (pode ser tbm cliente.id)-->
    
    </ion-item>
   
      
  </ion-list>

</ion-content>
